.card-container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    border: 1px solid black;
    border-radius: 0.8rem;
    justify-content: center;
    height: 24rem;
    width: 24rem;
    box-shadow: 0 6px 10px #888;

    .category {
        color: rgb(45, 45, 45);
        font-size: 1.6rem;
    }

    .item-name {
        font-size: 5rem;
        color: rgb(85, 0, 85);
    }

    .thumbnail {
        height: 16rem;
    }

    .description {
        color: rgb(40, 40, 40);
    }
}
